:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input[type="submit"] {
  background-color: #019e0f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

section {
  border: 0.01rem solid black;
  border-radius: 3px;
}

h2 {
  background-color: #0085b2;
  color: white;
  padding: 0.5rem;
}

.spc-btw {
  display: flex;
  justify-content: space-between;
}

.formulario {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  gap: 2rem;
}
/* === FORNECEDORES === */
.fornecedor-dados {
  padding: 1rem;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.sct-fornecedor .form-group:first-of-type {
  margin-top: 0.8rem;
}

.form-group .field {
  flex: 1 1 calc(30% - 2rem);
  display: flex;
  flex-direction: column;
}

#cep,
#inscricaoEstadual,
#inscricaoMunicipal,
.mx-wdt {
  width: 30rem;
}

#razaoSocial,
#nomeFantasia,
#endereco {
  width: 50rem;
}

.form-group.trio .field {
  flex: 1 1 calc(33.33% - 2rem);
}

.form-group.full-width .field {
  flex: 1 1 100%;
}

label {
  font-weight: bold;
}

input {
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* === PRODUTOS === */
.sct-produtos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wrp-product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.wrp-product button {
  max-height: 2rem;
  background: none;
  border: none;
}

.wrp-product button img {
  max-width: 4rem;
}

.wrp-product-img-title {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0 0.8rem;
}

.wrp-product-data-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

select {
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 10rem;
}

.wrp-product-data-img h3 {
  display: flex;
}

.wrp-product-data-img img {
  width: 8rem;
  object-fit: contain;
}

.wrp-product-data .form-group.quatro .field {
  flex: 1 1 calc(10% - 2rem);
}

.sct-produtos button {
  height: 3rem;
}

/* === ANEXOS === */

.sct-anexos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wrp-doc-title {
  border: 1px solid red;
  padding: 1rem;
}

.wrp-btn-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.wrp-btn-title button {
  background: none;
  border: none;
}

.wrp-btn-title button img {
  max-width: 4rem;
}

.sct-anexos .mx-hgt-3 {
  height: 3rem;
}

/* === RESPONSIVIDADE === */

@media (max-width: 1024px) {
  .form-group .field,
  .form-group.trio .field,
  .form-group.full-width .field,
  .form-group .mx-wdt {
    flex: 1 1 100%;
  }
}
